body
{
    background-color: #D5E7F2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

header
{
    background-color:#F2E0DC;
}

.pregunta1
{
    background-color:#D1BFD9;
    border-radius: 9px;
    margin: 20px;
    padding: 30px 25px 20px 20px;
}

.pregunta2
{
    background-color:#D1BFD9;
    border-radius: 9px;
    margin: 20px;
    padding: 30px 25px 20px 20px;
}

.pregunta3
{
    background-color:#D1BFD9;
    border-radius: 9px;
    margin: 20px;
    padding: 30px 25px 20px 20px;
}

.pregunta4
{
    background-color:#D1BFD9;
    border-radius: 9px;
    margin: 20px;
    padding: 30px 25px 20px 20px;
}

.pregunta5
{
    background-color:#D1BFD9;
    border-radius: 9px;
    margin: 20px;
    padding: 30px 25px 20px 20px;
}

.boton
{
    margin-left: 30px;
    border-radius: 5px;
    width: 100px;
    height: 50px;   
    background-color:#F2E0DC;
    border-radius: 5px;
    border: 10px;
    padding: 10px 15px;
    cursor:pointer;
    cursor:hand;
    text-align:center;
    font-weight: bold;
}

#resultado h3
{
    background: #D5E7F2;
    padding: 10px;
    margin: 10px 0;
}

#resultado span
{
    color: white;
    font-weight: bold;
}
